.imageWrapper {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 250ms linear;
    overflow: hidden;

    &:hover {
        transform: scale(1.03);
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .imageWrapper {
        width: 300px;
        height: 360px;

        img {
            height: 237px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1248px;
    }
}